@model IEnumerable<Discount>
<h2 class="mt-3"><i class="fas fa-list-ul"></i>Current Discounts</h2>
<div class="list-group">
    @foreach (Discount d in Model)
    {
        <a class="list-group-item list-group-item-action">@d.Title - <i style="opacity:.6;">@d.Description - <a href=#>Edit</a>/<a href=#>Delete</a></i></a> 
    }
    
</div>